<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header">
        <div class="logo">Logo</div>
        <nav class="nav">Home</nav>
        <nav class="nav">Carrito</nav>
    </header>
    <main class="main">
        <h1 class="title">My Web Page</h1>
        <div class="sidebar">
            <p class="primero">1</p>
            <p class="segundo">2</p>
            <p class="tercero">3</p>
            <p class="cuarto">4</p>
        </div>
    </main>
    <footer class="footer">
        <p class="redes">Redes Sociales</p>
    </footer>
</body>
</html>