body {
    overflow: hidden;
    padding: 0;
}

.header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    color: white;
    background-color:darkslategray;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: auto;
}

.logo {
    padding-left: 10px;
    display: inline-block;
}

.nav {
    position: relative;
    display: inline-block;
    text-align: right;
    padding-inline: 25px;
    padding-right: 10px;
    left: 1655px;
}

.title {
    position: relative;
    display: inline-block;
    background-color: gainsboro;
    color: darkslategrey;
    width: 1517px;
    height: 603px;
    left: 366px;
    bottom: 435px;
    text-align: center;
    padding: 10px;
}

.sidebar {
    position: relative;
    display:inline-block;
    background-color: darkslategray;
    color: gainsboro;
    right: 1540px;
    top: 15px;
    width: 335px;
    height: 620px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.primero {
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    height: 125px;
}

.segundo {
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    height: 125px;
}

.tercero {
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    height: 125px;
}

.cuarto {
    background-color: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    height: 125px;
}

.footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    background-color: darkslategrey;
    height: 250px;
    bottom: 460px;
}

.redes {
    color: white;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}
